#container {
	height: 660;
	width: 370;
}

#header {
	background-color: #178553;
	height: 9%;
	width: 100%;
	color: white;
}

#header>div {
	display: inline-block;
	vertical-align: middle;
	overflow: visible;
}

#title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 120%;
	font-weight: bold;
}

.left {
	width: 60%;
	padding-left: 5%;
}
.right {
	width: 29%;
	padding-right: 2%;
}

.l {
	float: left;
}

.r {
	float: right;
}

#plus {
	font-size: 22;
	margin-left: -20%;
}

#bars {
	font-size: 22;
	margin-left: 20%;
}

#find {
	background-image: url(../img/park2.jpg);
	background-size: cover;
	height: 50%;
	width: 100%;
	margin: auto;
	text-align: center;
	align: center;
}

#find_text {
	font-size: 150%;
	font-weight: bold;
	padding-top: 10%;
}

#find_button {
	background-color: #5CB056;
	height: 7%;
	width: 32%;
	position: absolute;
	top: 40%;
	left: 10%;
	z-index: 1;
}

#find_butt_text {
	font-size: 135%;
	font-weight: bold;
	z-index: 1;
	position: absolute;
	top: 41.5%;
	left: 16%;
}

#location_icon {
	position: absolute;
	font-size: 20;
	top: 41%;
	left: 12%;
	z-index: 1;
}

/*.c {
	display: inline-block;
	vertical-align: middle;
	overflow: visible;
}*/

#find_zip_text {
	font-size: 125%;
	color: white;
	position: absolute;
	top: 50%;
	left: 8.5%;
}

#find_zip {
	position: absolute;
	font-size: 130%;
	top: 50%;
	left: 32%;
	z-index: 1;
}

#find_zip_bg {
	position: absolute;
	top: 50%;
	left: 31.5%;
	background-color: white;
	height: 3.5%;
	width: 8.5%;
}

#find_zip_icon {
	position: absolute;
	top: 50%;
	left: 41%;
	background-color: #5CB056;
	height: 3.5%;
	width: 2.5%;
	z-index: 1;
}
	
#forward {
	position: absolute;
	top: 50.5%;
	left: 41.5%;
	font-size: 20;
	z-index: 1;
}

#browse {
	background-image: url(../img/park1.jpg);
	height: 41%;
	width: 100%;
	background-size: cover;
	margin: auto;
	text-align: center;
	align: center;
}

#browse_text {
	font-size: 150%;
	font-weight: bold;
	padding-top: 10%;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
