#header {
	background-color: gray;
	height: 60px;
	width: 400px;
	color: white;
	align: left;
}

#find {
	background-image: url(../img/park2.jpg);
	width: 400px;
	height: 300px;
	align: center;
	background-size: cover;
}

#browse {
	background-image: url(../img/park1.jpg);
	width: 400px;
	height: 300px;
	align: center;
	background-size: cover;
}

#title {
	position: absolute;
	left: 28px;
	top: 8px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 120%;
	font-weight: bold;
}

#plus {
	position: absolute;
	left: 325px;
	top: 29px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

#menu {
	position: absolute;
	left: 365px;
	top: 29px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

#find_text {
	font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
	font-size: 150%;
	font-weight: bold;
	position: absolute;
	top: 108px;
	left: 70px;
}

#find_button {
	background-color: #D3D3D3;
	height: 47px;
	width: 225px;
	position: absolute;
	top: 261px;
	left: 93px;
	z-index: 1;
}

#find_butt_text {
	font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
	font-size: 125%;
	font-weight: bold;
	position: absolute;
	top: 273px;
	left: 143px;
	z-index: 1;
}

#find_zip_text {
	font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
	font-size: 125%;
	position: absolute;
	top: 324px;
	left: 85px;
	color: white;
}

#find_zip {
	position: absolute;
	font-size: 130%;
	top: 325px;
	left: 239px;
	color: blue;
	z-index: 1;
}

#find_zip_bg {
	position: absolute;
	top: 325px;
	left: 235px;
	background-color: white;
	height: 24px;
	width: 60px;
}

#find_zip_icon {
	position: absolute;
	top: 325px;
	left: 305px;
	background-color: #D3D3D3;
	height: 24px;
	width: 20px;
	z-index: 1;
}

#browse_text {
	font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
	font-size: 150%;
	font-weight: bold;
	position: absolute;
	top: 410px;
	left: 90px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#location_icon {
	position: absolute;
	left: 110px;
	top: 270px;
	width: 22px;
	height: 22px;
	z-index: 1;
}
	
#forward {
	position: absolute;
	left: 305px;
	top: 328px;
	width: 20px;
	height: 20px;
	z-index: 1;
}

.grayscale {
         -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         -webkit-filter: grayscale(100%);
         filter: gray;
         filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}