#container {
	height: 103.5%;
	width: 104%;
	top: -2%;
	left: -2%;
	position: relative;
}

#header {
	background-color: #178553;
	height: 9%;
	width: 100%;
	color: white;
}

#header>div {
	display: inline-block;
	vertical-align: middle;
	overflow: visible;
}

#title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 120%;
	font-weight: bold;
}

.left {
	width: 60%;
	padding-left: 5%;
}
.right {
	width: 29%;
	padding-right: 2%;
}

.l {
	float: left;
}

.r {
	float: right;
}

#plus {
	font-size: 22;
	margin-left: -20%;
}

#bars {
	font-size: 22;
	margin-left: 20%;
}

#menu {
	position: absolute;
	top: 9%;
	right: -40%;
	height: 91%;
	width: 40%;
	z-index: 1;
	background-color: #0E6F48;
}

.btn {
	position: relative;
	margin-bottom: 1.5%;
	height: 8.5%;
	width: 100%;
	z-index: 1;
    background-color: #5CB553;
}

.txt {
	position: absolute;
	top: 32%;
	left: 7.5%;
	color: black;
	font-size: 110%;
	font-weight: bold;
}

#find {
	background-image: url(../img/park2.jpg);
	background-size: cover;
	height: 50%;
	width: 100%;
	margin: auto;
	text-align: center;
	align: center;
	position: relative;
}

#find_text {
	font-size: 150%;
	font-weight: bold;
	top: 10%;
	position: relative;
}

#find_button {
	background-color: #5CB056;
	height: 15%;
	width: 61%;
	min-height: 54px;
	min-width: 240px;
	position: absolute;
	top: 68%;
	left: 20%;
	z-index: 1;
}

#find_butt_text {
	font-size: 135%;
	font-weight: bold;
	z-index: 1;
	position: absolute;
	top: 71.5%;
	left: 30%;
}

#location_icon {
	position: absolute;
	font-size: 20;
	top: 72%;
	left: 23%;
	z-index: 1;
}

/*.c {
	display: inline-block;
	vertical-align: middle;
	overflow: visible;
}*/

#find_zip_text {
	font-size: 125%;
	color: white;
	position: absolute;
	top: 88%;
	left: 16%;
}

#find_zip {
	position: absolute;
	font-size: 130%;
	top: 88%;
	left: 61%;
	z-index: 1;
}

#find_zip_bg {
	position: absolute;
	top: 88%;
	left: 61%;
	background-color: white;
	height: 7.5%;
	width: 14.5%;
}

#find_zip_icon {
	position: absolute;
	top: 88%;
	left: 78.8%;
	background-color: #5CB056;
	height: 7.5%;
	width: 5%;
	z-index: 1;
}
	
#forward {
	position: absolute;
	top: 89.2%;
	left: 79.5%;
	font-size: 20;
	z-index: 1;
}

#browse {
	background-image: url(../img/park1.jpg);
	height: 41%;
	width: 100%;
	background-size: cover;
	margin: auto;
	text-align: center;
	align: center;
}

#browse_text {
	font-size: 150%;
	font-weight: bold;
	top: 10%;
	position: relative;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
