#container {
	height: 660;
	width: 370;
}

#header {
	background-color: #178553;
	height: 9%;
	width: 100%;
	color: white;
}

#header>div {
	display: inline-block;
	vertical-align: middle;
	overflow: visible;
}

#backward {
	font-size: 22;
	padding-top: 125%;
}

#title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 120%;
	font-weight: bold;
	padding-left: 4%;
}

.left {
	width: 76%;
	padding-left: 5%;
}

.right {
	width: 12%;
	padding-right: 2%;
}

.l1 {
	float: left;
}

.l2 { 
	float: left;
}

.r {
	float: right;
}

#plus {
	font-size: 22;
	margin-left: -20%;
}

#bars {
	font-size: 22;
	margin-left: 20%;
}

#near_you {
	background-color: #0E6F48;
	height: 5%;
	width: 100%;
}

#nearyou_text {
	position: absolute;
	top: 7.5%;
	left: 3.5%;
	font-size: 120%;
	font-weight: bold;
	color: white;
}

#googleMap {
	height: 43%;
	width: 100%;
}

#list {
	overflow: scroll;
	height: 43%;
	width: 100%;
}

#list ul { 
	list-style: none;
	padding-left: 0;
}

#list li {
	border: 1px solid black;
	overflow: scroll;
	background-color: lightgray;
}