#header {
	background-color: gray;
	height: 60px;
	width: 400px;
	color: white;
	align: left;
}

#backward {
	position: absolute;
	vertical-align: middle;
	top: 29px;
	left: 22px;
	width: 20px;
	height: 20px;
}

#title {
	position: absolute;
	left: 50px;
	top: 8px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 120%;
	font-weight: bold;
}

#plus {
	position: absolute;
	left: 325px;
	top: 29px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

#menu {
	position: absolute;
	left: 365px;
	top: 29px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

#near_you {
	background-color: lightgray;
	height: 40px;
	width: 400px;
	align: left;
}

#nearyou_text {
	position: absolute;
	left: 22px;
	top: 57px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 120%;
	font-weight: bold;
	color: white;
}

#googleMap {
	width: 400px;
	height: 300px;
}

#list {
	overflow: hidden;
	overflow-y: scroll;
	width: 400px;
	height: 300px;
}