#container {
	height: 660;
	width: 370;
	position: relative;
}

#header {
	background-color: #178553;
	height: 9%;
	width: 100%;
	color: white;
}

#header>div {
	display: inline-block;
	vertical-align: middle;
	overflow: visible;
}

#backward {
	font-size: 22;
	padding-top: 125%;
}

#title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 120%;
	font-weight: bold;
	padding-left: 4%;
}

.left {
	width: 76%;
	padding-left: 5%;
}

.right {
	width: 12%;
	padding-right: 2%;
}

.l1 {
	float: left;
}

.l2 { 
	float: left;
}

.r {
	float: right;
}

#plus {
	font-size: 22;
	margin-left: -20%;
}

#bars {
	font-size: 22;
	margin-left: 20%;
}

#login {
	height: 91%;
	width: 100%;
	overflow: hidden;
	background-color: white;
}