@font-face {
	font-family: Karla;
	src: url(http://fonts.googleapis.com/css?family=Karla);
}

#container {
	height: 103.5%;
	width: 104%;
	top: -2%;
	left: -2%;
	position: relative;
}

#header {
	background-color: #178553;
	height: 9%;
	width: 100%;
	color: white;
}

#header>div {
	display: inline-block;
	vertical-align: middle;
	overflow: visible;
}

#backward {
	font-size: 22;
	padding-top: 125%;
}

#title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 120%;
	font-weight: bold;
	margin-left: 4%;
}

.left {
	width: 76%;
	padding-left: 5%;
}

.right {
	width: 12%;
	padding-right: 2%;
}

.l1 {
	float: left;
	height: 100%;
}

.l2 { 
	float: left;
	width: 80%;
}

.r {
	float: right;
}

#plus {
	font-size: 22;
	margin-left: -20%;
}

#bars {
	font-size: 22;
	margin-left: 20%;
}

#menu {
	position: absolute;
	top: 9%;
	right: -40%;
	height: 91%;
	width: 40%;
	z-index: 1;
	background-color: #0E6F48;
}

.btn {
	position: relative;
	border: 1px solid #0E6F48;
	height: 8.5%;
	width: 100%;
	z-index: 1;
    background-color: #5CB553;
}

.txt {
	position: absolute;
	top: 32%;
	left: 7.5%;
	color: black;
	font-size: 110%;
	font-weight: bold;
}