#near_you {
	background-color: #0E6F48;
	height: 5%;
	width: 100%;
	position: relative;
}

#nearyou_text {
	position: absolute;
	top: 7%;
	left: 3%;
	font-size: 120%;
	font-weight: bold;
	color: white;
}

#googleMap {
	height: 43%;
	width: 100%;
}

#TheList {
	height: 91%;
	width: 100%;
	overflow: scroll;
	background-color: #0E6F48;
	text-align: center;
	vertical-align: middle;
}

.listElement {
	border: 1px solid #0E6F48;
	color: white;
	font-family: Karla;
	background-color: #85CF61;
	width: 100%;
	height: 20%;
}