#login {
	height: 91%;
	width: 100%;
	overflow: hidden;
	background-color: white;
	text-align: center;
	margin-top: 10%;
}

.input {
	height: 12%;
	width: 72%;
	padding: 5%;
	font-size: 125%;
	letter-spacing: 1px;
	font-family: Karla;
}

#email {
	margin-top: 5%;
	border: 2px solid lightgray;
}

#password {
	margin-top: 1%;
	margin-bottom: 3%;
	border: 2px solid lightgray;
}

#submit_btn {
	margin-bottom: 1%;
	background-color: #5CB056;
	color: white;
	border: 1px solid lightgray;
	font-size: 170%%;
}

#new_user {
	background-color: #5CB056;
	color: white;
	border: 1px solid lightgray;
	font-size: 150%;
	width: 71.5%;
	height: 11.5%;
	position: relative;
	left: 14%;
	line-height: 290%;
}

.login_text {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 200%;
}